@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/*Fondo svg y color acorde*/
:root {
    --verde-claro: #0CBD79;
    --rojo-titulo: #FF210B;
    --blanco-fondo: #f5f0ed;
    --hover-btn:#cebb0d;
    --negro:#afafaf;
    --gris: #c7c7c7;
    /*Prueba paleta*/
    --grisOscuro:#0e181d;
    --gris_Luminoso: #a8bec9;
    --gris18xciento:#484848;
    --amarilloBtn:#f2b237;
    --morado:#504487;
  }


body {
  margin: 0;
  padding: 0;
  background: rgb(64, 66, 78);  
  background-position: bottom;
}

.contenedor-principal{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.contendedor-app{
  margin: 1rem 1rem 1rem 1rem;
  width: 30vw;
  padding: 0rem;
}

fieldset{
  border: rgb(84, 89, 95);
  border-style: solid;
  border-width: 2px;
  background: rgb(80,81,96);
  background: linear-gradient(139deg, rgba(80,81,96,1) 0%, rgba(73,75,89,1) 47%, rgba(44,46,54,1) 99%);           
  margin: 1rem;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 14px -2px 39px 4px rgba(0,0,0,0.19);
  -webkit-box-shadow: 14px -2px 39px 4px rgba(0,0,0,0.19);
  -moz-box-shadow: 14px -2px 39px 4px rgba(0,0,0,0.19);
}
/*Modificamos visualidad de selectores por UX*/
.selector {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.box {
  background-color: var(--grisOscuro);
  width: 60px;
  height: 75px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
}

.icono {
  background-color: #0CBD79;
}

figure {
  margin: 15px 0;
  position: relative;
  display: block;
}

label {
  text-align: center;
}

ul{
    list-style-type: none;
    margin-left: -2rem;
}

p{
  font-family: 'Poppins','sans-serif';
  font-weight: 300;
}


/*Titulo*/
.nombre{
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  text-align: center;
  color: #c4c4c4;
}

#titulo {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  margin-bottom: 1rem;
}

/*Input redondeado*/
input[type=text]{
  -webkit-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #ffffff;
   color: black;
   width: 250px;
   height: 30px;
   padding-left: 10px;
   margin-top: 1rem;
   margin-bottom: 1rem;
  }
    
input[type=text]:focus {
  outline: none;
  border: 1px solid red;
}

/*Boton procesar*/
#btn-procesar{
  background-color: var(--rojo-titulo);
  color: var(--blanco-fondo);
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  margin-top: 100px;
  margin-right: 10px;
  line-height: 40px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
    
}
#btn-procesar:hover{
  background-color: #2EE59D;
  box-shadow: 0px 0px 20px var(--amarilloBtn);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn {
  padding: 0;
}

#btn-procesar:hover{
  background-color: var(--hover-btn);
}

.cont-btn{
  text-align: right;
  margin-top: -6.5rem;
  margin-right: -1rem;
}

/*Texto footer*/
.texto-inferior{
  position: relative;
  bottom: 50px;
  left: 30px;
}
.texto-inferior h5{
  color: var(--blanco-letra);
  height: 2rem;
  margin: 0rem 2rem 1rem 3rem;
  padding: 0rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  width: 60%;
  font-size: 0.7rem;
}

/*Slidert*/


/*Media queries Desktop y tablet*/

@media only screen and (max-width: 480px) {
    body {
      flex-direction: column;
    }
  }
  